
num-cols = 1 2 3 4 5 6 7 8 9 10 11 12
$gutter-width = 1.5rem
$element-top-margin = $gutter-width / 3
$element-bottom-margin = $gutter-width * 2 / 3
perc = 0;

small-screen-up = 601px
medium-screen-up = 993px
large-screen-up = 1201px
small-screen = 600px
medium-screen = 992px
large-screen = 1200px

minw(w)
  '(min-width:' + w +')'

maxw(w)
  '(max-width:' + w +')'

min-max(min-w, max-w)
  minw(min-w) +  ' and ' + maxw(max-w)

screen-min(w)
  'screen and ' + minw(w)

screen-max(w)
  'screen and ' + maxw(w)

screen-min-max(min-w, max-w)
  'screen and ' + min-max(min-w, max-w)

reset-offset()
  margin-left: auto
  left: auto
  right: auto

grid-classes($size, $i, $perc)
    &.offset-{$size}{$i}
        margin-left $perc
    &.pull-{$size}{$i}
        right $perc
    &.push-{$size}{$i}
        left $perc

.row
    margin-left auto
    margin-right auto
    margin-bottom 20px
    &:after
        content ""
        display table
        clear both
    .col
        float left
        box-sizing border-box
        padding 0 $gutter-width / 2
        min-height 1px
        &[class*="push-"],
        &[class*="pull-"]
            position relative


buildrow(t)
    .row .col
        for num in num-cols
            grid-classes(t, num, (100 / (12 / num)) + "%")
            &.{t}{num} 
                width (100 / (12 / num)) + "%"
                reset-offset()
                    
buildrow(s)

media-max-desktop ?= maxw(small-screen-up)
media-min-desktop ?= minw(small-screen-up)


@media media-min-desktop
    buildrow(m)
